div.online-player
    -var c = color || "#000000";
    div.list-color-box(style="background-color:"+c)
    span.user-message-prefix [#{prefix}]
    span.user-message-name #{name} :
    span.user-message-content #{msg}


