extends layout

block content
  div#main
    div#header
      p.title= title
      div.separator
      div#player-container
    div#stage
    div#loading-overlay
      div.loading-content
        div.spinner
          div.dot1
          div.dot2
    script(src='/js/game.js')