extends layout

block content
  div#main
    div#header
      h1= title
    div#stage
    div#loading-overlay
      div.loading-content
        div.spinner
          div.dot1
          div.dot2

    script(src='/js/bundle.js')