html
  head
    title #{I18N_LAYOUT.title}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#main
      div#header
        p.title #{I18N_LAYOUT.title}
        div.separator
        div#player-container
      div.content
        div#game-chat
        div#stage
      div#loading-overlay.overlay
        div.loading-content
          div.spinner
            div.dot1
            div.dot2
      div#dfg.overlay
        div.name-chooser-content
          div.caption name waehlen
          div.label.valid sdaf saf sd
          input.name-chooser-input
          div.btn ok
      script.
        var I18N_DATA = !{I18N_DATA};
      script(src='/js/templates.js')
      script(src='/js/game.js')