html
    head
        title #{I18N.title}
        link(rel='stylesheet', href='/stylesheets/users.css')
    body
        div.stanalone-container
            div.input-content
                div.formular-title #{I18N.successfully_logged_out}
                p.centered #{I18N.successfully_logged_out}
                a.link(href='/') #{I18N.continue_without_login}
