body,html {
  padding: 0;
  margin:0;
  width: 100%;
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;


  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

}

element {
  --header-height: 70px;
}

#header{
  height: var(--header-height);
}


#main{
  padding: 0;
  margin:0;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
}

h1{
  margin: 0;
}

a {
  color: #00B7FF;
}

#stage{
  width: 100%;
  flex-grow: 1;
  display: flex;
}

#stage canvas{
  flex-grow: 1;
}

#loading-overlay{
 /* margin: auto;*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  display:flex;
  background-color: rgba(0, 0, 0, 0.85);
}

.loading-content{
  margin: auto;
  width: 40px;
  height: 40px;
}
/*
canvas{
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}*/



/*----------- LOADING ANIM --------------*/
.spinner {
 /* margin: 100px auto;*/
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;

  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #9e9e9e;
  border-radius: 100%;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}
/*----------- END LOADING ANIM ----------*/