
body,html {
  padding: 0;
  margin:0;
  width: 100%;
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;


  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  --header-height:50px; /* variable which is used in other classes */
}

#header{
  margin: 0;
  height: var(--header-height);
  display: flex;
  flex-direction: row;
}

.separator {
  height: 80%;
  background-color: grey;
  width: 2px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

h1{
  margin: 0;
}
.title{
  margin: 0;
  font-size: 30px;
}


#main{
  padding: 0;
  margin:0;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
}


a {
  color: #00B7FF;
}

.content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#stage{
  width: 100%;
  flex-grow: 1;
  display: flex;
}


#stage canvas{
  flex-grow: 1;
}

.btn{
  border: none;
  background-color: #cfcfcf;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: table-cell;
  vertical-align: middle;
  cursor:pointer;
  font-weight: bold;
}

.btn:hover{
  background-color: #9c9c9c;
}
.btn:active{
  background-color: #808080;
}

/*----------- CHAT --------------------------*/

.chat-container{
  width: 400px;
  height: 250px;
  background-color: red;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

/** & #x2B9D; */
.chat-container #chat-expander.btn{
  height: 15px;
  background-color: #00B7FF;
  text-align: center;
  padding: 2px;
}

.chat-container #chat-output{
  flex-grow: 1;
  background-color: green;
  margin: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-container #chat-output .message{
  margin:3px 10px;

}

.chat-container #chat-output .message.system{
  font-style:italic;
  text-align: center;
}
.chat-container #chat-output .message.system.error{
  color: #e20000;
}

.chat-container #chat-output .message .user-message-time {
  font-weight: bold;
  margin-right: 5px;
}
/*
.chat-container #chat-output .message .user-message-time:before {
  content: "[";
}*/
.chat-container #chat-output .message .user-message-time:after {
  content: " |";
}

.chat-container #chat-output .message .user-message-prefix {
  font-weight: bold;
  margin-right: 3px;
}

.chat-container #chat-output .message .user-message-prefix.admin {
  color: #e20000;
}

.chat-container #chat-output .message .user-message-prefix:before {
  content: "[";
}
.chat-container #chat-output .message .user-message-prefix:after {
  content: "]";
}

.chat-container #chat-output .message .user-message-name {
  font-weight: bold;
  margin-right: 5px;
}
.chat-container #chat-output .message .user-message-name:after {
  content: ":";
}

.chat-container #chat-output .message .user-message-content {

}

.chat-container .chat-input{
  height: 25px;
  display: flex;
  flex-direction: row;
  margin: 0 10px 10px 10px;
}

.chat-container .chat-input #chat-input-field{
  flex-grow: 1;
  margin-right: 10px;
}

.chat-container .chat-input #chat-send.btn{

}


@media (min-width: 0em) and (max-width: 40em) {
  .chat-container{
    width: 250px;
    height: 100px;
  }
}

/*----------- CHAT END ----------------------*/

/*----------- PLAYER CONTAINER --------------*/

#player-container{
  flex-grow: 1;
  height:100%;
  display: flex;
  flex-direction: row;
  overflow: auto;
  flex-wrap: wrap;
}
/*
.player-item:first-child {
  margin-left: 10px;
}

.player-item:not(:first-child) {
  margin-left: 20px;
}*/

.player-item{
  height: 90%;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.player-item .player-image{
  width: calc(var(--header-height) - 10px);
  height: calc(var(--header-height) - 10px);
  margin-top: auto;
  margin-bottom: auto;
  /*content: url('/resources/default/missing_avatar.png');*/
  background-position: center;
  background-size: contain;
}
/*
.player-item .player-image:empty {
  content: url('/resources/default/missing_avatar.png');
}*/

.player-item .player-details{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.player-item .player-info-container{
  display: flex;
  flex-direction: row;
  margin-top: 2px;
}

.player-item .player-seat{
  font-weight: bold;
  margin-right: 5px;
}
.player-item .player-seat:empty{
  margin-right: 0;
}

.player-item .player-color{
  background-color: grey;
  width: 100%;
  height: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.player-item .player-name-container{
  display: flex;
  flex-direction: row;
}

.player-item .player-prefix{
  margin: 0;
  font-weight: bold;
}
.player-item .player-prefix::after{
   content: "] ";
 }
.player-item .player-prefix::before{
  content: "[";
}
.player-item .player-name{
  margin: 0 0 0 2px;
}
/*----------- PLAYER CONTAINER END-------*/

/*----------- LOADING ANIM --------------*/
.loading-content{
  margin: auto;
  width: 40px;
  height: 40px;
}

#loading-overlay{
  /* margin: auto;*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  display:flex;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

.spinner {
 /* margin: 100px auto;*/
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;

  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #9e9e9e;
  border-radius: 100%;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}
/*----------- END LOADING ANIM ----------*/