-var t = I18N.minimize_maximize
-var minimizable = isMinimizable
if(minimizable)
    div.chat-expander.btn(title=t)
div.chat-content
    div.chat-output
    div.chat-input
        -var ph = I18N.your_message;
        input.chat-input-field(placeholder=ph)
        div.chat-send.btn #{I18N.send}