//
   Created by Mick on 06.06.2017.

div.chat-container
    div#chat-expander.btn &#x2B9F;
    div#chat-output
    div.chat-input
        input#chat-input-field
        div#chat-send.btn #{I18N_LAYOUT.send}