div.message.tooltip
    div.tooltiptext #{time}
    span.user-message-prefix [#{prefix}]
    -var c = color || "#000000";
    span.user-message-name(style="color:"+c) #{name} :
    span.user-message-content #{msg}


