div.overlay.game-chooser
    div.game-chooser-container.overlay-content
        div.game-chooser-caption Game chooser
        div.game-chooser-content
        div.game-chooser-footer
            div.btn.back(data-action="back") &#x2B9C;
            div.btn.close(data-action="close") #{I18N.close}
            div.btn.forward(data-action="forward") &#x2B9E;