div.game-list-container.color-darkest-border
    div.game-list-header
        div.caption Current Sessions
        div.refresh.btn o
    div.game-list
div#lobby-chat-container.color-light.color-highlight-border