div.overlay
    div.name-chooser-content.overlay-content
        div.caption #{I18N.choose_name}
        div.label
        -var currentName = name;
        input.name-chooser-input(placeholder=currentName)
        div.name-chooser-buttons
            div.btn(data-action="confirm") #{I18N.confirm}
            div.btn(data-action="cancel") #{I18N.cancel}