div.overlay
    div.name-chooser-content
        div.caption #{I18N.choose_name}
        div.label.valid sdaf saf sd
        -var currentName = oldName;
        input.name-chooser-input(placeholder=currentName)
        div.name-chooser-input
            div.btn #{I18N.confirm}
            div.btn #{I18N.cancel}