img.player-image
div.player-details
    div.player-name-container
        div.player-prefix [#{prefix}]
        div.player-name #{name}
    div.player-info-container
        div.player-seat #{index}
        if color
            -var colorStyle = "background-color: "+color;
            div.player-color(style=colorStyle)
        else
            div.player-color